@page "/addTask"
@page "/addTask/{userid}"
@inject NavigationManager Navigation

@using Microsoft.AspNetCore.Components.Forms
@using WorkTimeApp.Shared.Model

<PageTitle>Add Task</PageTitle>

<h1>Editor</h1>


<EditForm Model="@task" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="title">Title:</label>
        <InputText id="title" @bind-Value="task.Title" class="form-control" />
    </div>

    <div>
        <label for="description">Description:</label>
        <InputTextArea id="description" @bind-Value="task.Description" class="form-control" />
    </div>

    <div>
        <label for="dueDate">Due Date:</label>
        <InputDate id="dueDate" @bind-Value="task.DueDate" class="form-control" />
    </div>

    <div>
        <label for="priority">Priority:</label>
        <InputNumber id="priority" @bind-Value="task.Priority" class="form-control" />
    </div>
    <div>
        <label for="status">Status:</label>
        <InputText id="status" @bind-Value="task.Status" class="form-control" />
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Add Task" />
</EditForm>

@code {
    [Parameter]
    public string Userid { get; set; }
    private TaskModel task = new TaskModel();

    static HttpClient httpClient = new HttpClient();

    private async void HandleValidSubmit()
    {
        task.UserID = Convert.ToInt64(Userid);
        var response = await httpClient.PostAsJsonAsync("http://10.0.2.2:5076/api/tasks", task);
        var responseCode = response;

    }
}
