@page "/editTask/{taskid}"

@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using WorkTimeApp.Shared.Model

<PageTitle>Edit Task</PageTitle>

<h1>Editor</h1>


<EditForm Model="@task" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="title">Title:</label>
        <InputText id="title" @bind-Value="task.title" class="form-control" />
    </div>

    <div>
        <label for="description">Description:</label>
        <InputTextArea id="description" @bind-Value="task.description" class="form-control" />
    </div>

    <div>
        <label for="dueDate">Due Date:</label>
        <InputDate id="dueDate" @bind-Value="task.dueDate" class="form-control" />
    </div>

    <div>
        <label for="priority">Priority:</label>
        <InputNumber id="priority" @bind-Value="task.priority" class="form-control" />
    </div>
    <div>
        <label for="status">Status:</label>
        <InputText id="status" @bind-Value="task.Status" class="form-control" />
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Edit Task" />
</EditForm>
<button class="btn btn-primary" @onclick="GoBack">Go Back</button>

@code {
    [Parameter]
    public string Taskid { get; set; } = null!;

    private TaskModel task = new TaskModel();
    static HttpClient httpClient = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        long taskId = Int32.Parse(Taskid);
#if ANDROID
        var response = await httpClient.GetStringAsync($"http://10.0.2.2:5076/api/tasks/{taskId}");
#else
        var response = await httpClient.GetStringAsync($"http://localhost:5076/api/tasks/{taskId}");
#endif
        if (!string.IsNullOrEmpty(response))
        {
            var deserializedTask = JsonSerializer.Deserialize<TaskModel>(response);
            if (deserializedTask != null)
            {
                task = deserializedTask;
            }
        }
    }

    private async void HandleValidSubmit()
    {

#if ANDROID
        await httpClient.PutAsJsonAsync($"http://10.0.2.2:5076/api/tasks/{Taskid}", task);
#else
        await httpClient.PutAsJsonAsync($"http://localhost:5076/api/tasks/{Taskid}", task);
#endif
        await JSRuntime.InvokeVoidAsync("history.back");
    }

    private async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}

