@page "/"
@using WorkTimeApp.Shared.Services
@using Microsoft.AspNetCore.Components
@inject IFormFactor FormFactor

<PageTitle>Home</PageTitle>

<h1>WorkTime App</h1>
<div>
    <a>@errorMessage</a>
    <form method="post" @onsubmit="Submit">
        <label>email</label><br>
        <input @bind="email" type="email" /><br>
        <label>password</label><br>
        <input @bind="password" type="password" /><br>
        <input type="submit" value="Login" />
    </form>
    <p>Forget your password?</p>
    <p>Sign in</p>

</div>
@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();

    private string? email { get; set; }
    private string? password { get; set; }
    private string? errorMessage { get; set; }
    private async Task Submit()
    {
        if (string.IsNullOrEmpty(email) || string.IsNullOrEmpty(password))
        {

            errorMessage = "Email and password are required.";
            return;
        }
        if (!email.Contains("@") || !email.Contains("."))
        {
            errorMessage = "Invalid email format.";
            return;
        }
        else
        {
            errorMessage = null;
        }
        await Task.Delay(100); // Simulate a delay for the login process

    }


}
