@page "/resetPassword"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager Navigation

<PageTitle>Reset Password</PageTitle>

<h1>Reset Password</h1>
<a>@errorMessage</a>


<form method="post" @onsubmit="Submit" style="text-align: center;">
    <label>Email</label><br />
    <input @bind="emailReset" type="emailReset" /><br />

    <div>
        <input type="submit" class="btn btn-primary" asp-page="/tasks" value="Reset Password" />
    </div>
</form>
<br />

@code {
    static HttpClient httpClient = new();

    private string? emailReset { get; set; }
    public string? errorMessage { get; set; }
    EmailRequest emailRequest = new();
    public async Task Submit()
    {
        if (string.IsNullOrEmpty(emailReset))
        {

            errorMessage = "email is required.";
            return;
        }
        if (!emailReset.Contains("@") || !emailReset.Contains("."))
        {
            errorMessage = "Invalid email format.";
            return;
        }
        else
        {
            errorMessage = null;
        }
        emailRequest.To = emailReset;
        emailRequest.Subject = "";
        emailRequest.Body = "";
        var baseUrl = Navigation.BaseUri.Contains("localhost")
    ? "http://localhost:5076/api/email"
    : "http://10.0.2.2:5076/api/email";
        try
        {
            var response = await httpClient.PostAsJsonAsync(baseUrl, emailRequest);
            var request = response.StatusCode;

        }
        catch (Exception e)
        {
            var test = e;   
        }// Simulate a delay for the login process
        Navigation.NavigateTo("");

    }
    public class EmailRequest
    {
        public string? To { get; set; }
        public string Subject { get; set; } = " ";
        public string Body { get; set; } = " ";
    }

}