@page "/resetPassword"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager Navigation

<PageTitle>Reset Password</PageTitle>

<h1>Reset Password</h1>
    <a>@errorMessage</a>


<form method="post" @onsubmit="Submit" style="text-align: center;">
        <label>Email</label><br />
        <input @bind="email" type="email" /><br />
        
        <div> 
            <input type="submit" class="btn btn-primary" asp-page="/tasks" value="Login" />
        </div>
    </form><br />

@code {
    
    private string? email { get; set; }
    public string? errorMessage { get; set; }
    public  void Submit(){
        if (string.IsNullOrEmpty(email))
        {

            errorMessage = "email is required.";
            return;
        }
        if (!email.Contains("@") || !email.Contains("."))
        {
            errorMessage = "Invalid email format.";
            return;
        }
        else
        {
            errorMessage = null;
        }
        // Simulate a delay for the login process
        Navigation.NavigateTo("home");
    }
}